@import url('https://fonts.googleapis.com/css?family=Yantramanav:300,400');

$bubble-border: 1px solid #cdc2cb;

.chat-wall {
	float: left;
	height: 83%;
	overflow: auto;
	position: relative;
	width: 100%;
	font-family: 'Yantramanav', sans-serif;
	font-weight: 300;

	h1 {
		color: #777;
		height: 5%;
		font-family: 'Berkshire Swash', cursive;
    	-webkit-margin-before: 0;
    	-webkit-margin-after: 0;
	}
}

.inner-block {
	display: inline-block;
    position: relative;
    height: 88%;
}

.inner {
    position: relative;
    height: auto;
}

.msg-lines {
	height: 100%;
	overflow-y: auto;
	position: relative;
	width: 100%;
	width: 100%;
	height: 100%;
    bottom: 0;
	margin-bottom: 0;
	overflow: auto;

	.message {
	    width: 100%;
	    line-height: 1.05;
	    display: flex;

	    .content {
	    	position: relative;
			border-radius: 10px;
			font-size: .9rem;
			margin: .1em 10px;
			padding: .25em;
			line-height: 1.1;
			max-width: 260px;
		}

		&.user {
			justify-content: flex-end;
			
			.content {
				background: linear-gradient(to right, #f3f3f3 0%, #f7f8fa 80%);
				border: $bubble-border;
				color: hsla(0, 0%, 0%, 0.9);

				&:after {
					content: '';
				    position: absolute;
				    border-style: solid;
				    border-width: 6px 0 3px 5px;
				    border-color: transparent #f7f8fa;
				    display: block;
				    width: 0;
				    z-index: 1;
					margin-top: -7px;
				    right: -4px;
				    bottom: .3em;
				}

				&:before {
					content: '';
				    position: absolute;
				    border-style: solid;
				    border-width: 6px 0 3px 5px;
				    border-color: transparent #cdc2cb;
				    display: block;
				    width: 0;
				    z-index: 0;
				    margin-top: -7px;
				    right: -5px;
				    bottom: .3em;
				}
			}
		}

		&.bot {
    		justify-content: flex-start;

			.content {
				background: linear-gradient(to right, #dd50cf 10%, #e068d3 60%, #e387d5 100%);
				border: $bubble-border;
				color: #fff;
				line-height: 1.05;

				&:after {
					content: '';
				    position: absolute;
				    border-style: solid;
				    border-width: 6px 5px 3px 0;
				    border-color: transparent #dd50cf;
				    display: block;
				    width: 0;
				    z-index: 1;
				    margin-top: -7px;
				    left: -4px;
				    bottom: .3em;
				}

				&:before {
					content: '';
				    position: absolute;
				    border-style: solid;
				    border-width: 6px 5px 3px 0;
				    border-color: transparent #d2c0cf;
				    display: block;
				    width: 0;
				    z-index: 0;
				    margin-top: -7px;
				    left: -5px;
				    bottom: .3em;
				}
			}

			&.contact {
    			.content {

    				a {
    					color: #7d006a;;
    				}
    			}	
    		}
		}
	}
}

