@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Nanum+Gothic|Philosopher:700|Poiret+One|Rosario:700');

$list-color: #585858;
$transparent: rgba(255, 255, 255, 0);

.archive {
	ul {
		margin-top: 1rem;
		list-style-type: square;

		li {
			margin-bottom: .39rem;
			padding-left: 5px;

			@media screen and (min-width: 700px) {
			   width: 70%;
			}

			.year-link {
				color: black;
				text-decoration: none;
				padding-right: 2em;
				font-size: .9em;

				&:hover {
					background: linear-gradient(32deg, $transparent 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%),
					linear-gradient(to bottom, $transparent 65%, rgba(208, 163, 255, 0.5) 66%, rgba(208, 163, 255, 0.5));
				}
			}

			.screenshot {
			}
		}
	}
}

