.page {
	.hi {
		font-family: 'Philosopher', sans-serif;
		font-size: 1.5rem;
		margin-top: 2.5rem;
		margin-bottom: 0.5rem;
	}

	p {
		color: hsla(0, 0%, 0%, 0.65);
		font-size: 22px;
		margin-bottom: 1.35rem;
	}
}
