@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Philosopher:700|Poiret+One|Rosario:700');

.page {
	.hi {
		font-family: 'Poiret One', cursive;
		font-size: 1.5rem;
		font-weight: 900;
		margin-top: 2.5rem;
		margin-bottom: 0.5rem;
	}

	p {
		font-weight: 700;
		margin-bottom: 1.35rem;
	}
}
